@import "design-settings.scss";
@import "mesh-mixins.scss";

body {
	@include font-default;
	font-weight: 400;
	overflow-x: hidden;
}

.neos-contentcollection {
	@include con;
}

header.header {
	@include con;
	@include box-shadow($shadow-medium);
	position: relative;
	z-index: 999;

	a.logo {
		width: auto;

		img {
			width: auto;
			height: 30px;
		}
	}

	ul.menu {
		width: auto;
		display: flex;
		align-items: center;

		li {
			list-style: none;
			display: inline;
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				font-size: 0.9rem;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
				color: $c-primary;
			}
		}
	}
}

main.main {
	@include con;

	ul.breadcrumb-menu {
		@include con;
		background: $grey-5;
		padding: 1.5rem;

		li {
			margin-right: 0.75rem;
			list-style: none;
			display: inline;

			&.current {
				a, span {
					font-weight: 700;
				}
			}

			a, span {
				font-size: 0.85rem;
				color: $grey-75;
				font-weight: 300;
			}
		}
	}
}

.ce-section {
	@include con;
	padding: 2.5rem 0;
}


.ce-headline, .ce-text, .ce-image {
	@include con;
}

.ce-headline, .ce-text {
	h1, h2, h3, h4, h5, h6, a {
		@include con;
		font-weight: 200;
		line-height: 1;
		color: inherit;
		letter-spacing: 0.2rem;

		strong {
			font-weight: 700;
		}
	}
	h1, h2 {
		font-size: 3.75rem;
		text-transform: uppercase;

		@include for-size(md) {
			font-size: 4rem;
		}

		@include for-size(lg) {
			font-size: 4.25rem;
		}
	}
	h2 {
		text-transform: none;
		line-height: 1.25;
	}
	h3, h4 {
		font-size: 1.75rem;
		text-transform: uppercase;

		@include for-size(md) {
			font-size: 2rem;
		}

		@include for-size(lg) {
			font-size: 2.25rem;
		}
	}
	h4 {
		text-transform: none;
		line-height: 1.25;
	}
	h5, h6 {
		font-size: 1.25rem;
		text-transform: uppercase;

		@include for-size(md) {
			font-size: 1.33rem;
		}

		@include for-size(lg) {
			font-size: 1.5rem;
		}
	}
	h6 {
		text-transform: none;
		line-height: 1.25;
	}
}

.ce-text {
	line-height: 1.65;
	font-size: 0.9rem;

	@include for-size(md) {
		font-size: 0.95rem;
	}

	@include for-size(lg) {
		font-size: 1rem;
	}

	p {
		@include con;
		font-weight: 300;
	}
}

.ce-image {
	img {
		@include con;
	}
}

footer.footer {
	@include con;
	background: $grey-5;
	padding: 1.5rem;
}