///COLORS
$black: #000;
$white: #fff;

$c-primary: #FF4A5D;
$c-secondary: #182747;

$grey-5: darken($white, 5%);
$grey-10: darken($white, 10%);
$grey-15: darken($white, 15%);
$grey-20: darken($white, 20%);
$grey-25: darken($white, 25%);
$grey-30: darken($white, 30%);
$grey-35: darken($white, 35%);
$grey-40: darken($white, 40%);
$grey-45: darken($white, 45%);
$grey-50: darken($white, 50%);
$grey-55: darken($white, 55%);
$grey-60: darken($white, 60%);
$grey-65: darken($white, 65%);
$grey-70: darken($white, 70%);
$grey-75: darken($white, 75%);
$grey-80: darken($white, 80%);
$grey-85: darken($white, 85%);
$grey-90: darken($white, 90%);
$grey-95: darken($white, 95%);
$grey-light: $grey-25;
$grey-dark: $grey-85;

//DEFAULT EASING
$default-easing: cubic-bezier(0.77, 0, 0.175, 1);

//DEFAULT RADIUS
$radius-small: 6px;
$radius-medium: 12px;
$radius-large: 24px;

//DEFAULT SHADOW
$shadow-small: 0 0 6px rgba(0,0,0,0.075);
$shadow-medium: 0 0 12px rgba(0,0,0,0.1);
$shadow-large: 0 0 24px rgba(0,0,0,0.15);


//FONT
@mixin font-default {
	font-family: 'Poppins', sans-serif;
}